<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CREDENCE"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreenActivity_may_ch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPasswordActivity_may"
            android:label="FORGOT"
            android:parentActivityName=".MainActivity2_1_may"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".MainActivity_may_val"
            android:label="PROFILE"
            android:parentActivityName=".MainGoal1_may" />
        <activity
            android:name=".MainDisplay"
            android:label="DISPLAY Activity" />
        <activity
            android:name=".MainGoal1_may"
            android:label="GOAL Activity"
            android:parentActivityName=".MainActivity3_1_may" />
        <activity
            android:name=".MainActivity3_may"
            android:label="Third Activity"
            android:parentActivityName=".MainActivity2_may" />
        <activity
            android:name=".MainActivity3_1_may"
            android:label="Third_1 Activity"
            android:parentActivityName=".MainActivity2_1_may" />
        <activity
            android:name=".MainActivity2_1_may"
            android:label="Second_1 Activity"
            android:parentActivityName=".MainActivity_may" />
        <activity
            android:name=".MainActivity2_may"
            android:label="Second Activity"
            android:parentActivityName=".MainActivity_may" />
        <activity
            android:name=".MainActivity_may"
            android:exported="false">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>